.sb-topnav .navbar-brand{
  font-family: Quantum;
  font-size: 85px;
  margin-top: -5px;
}

.sb-topnav.navbar-dark #sidebarToggle{
  color: #fff;
}

@keyframes blinkRed {
    0% { color: #inherit; }
    25% { color: #d92638; }
    100% { color: inherit; }
}

.blinkRed {
    animation: blinkRed 0.75s;
}

@keyframes blinkGreen {
    0% { color: #inherit; }
    25% { color: #2db94d; }
    100% { color: inherit; }
}

.blinkGreen {
    animation: blinkGreen 0.75s;
}

.adminCardAlert{
  float: right;
}

.btn .fas{
  margin-right: 0.5rem;
}

.table-min th{
  border-top: none;
}
